name: Create release

on:
  workflow_dispatch:
    inputs:
      dry-run:
        type: boolean
        description: Run with dry-run flag
        default: true

jobs:
  release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm ci
      - name: Create release
        run: |
          npx semantic-release ${{github.event.inputs.dry-run == 'true' &&
          '--dry-run' || ''}}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
